<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloJsonServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.HelloJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.SimpleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageHitCounterServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.PageHitCounterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.HelloForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayHeaderServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.DisplayHeaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.RefreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowErrorServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.ShowErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogFilterServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.LogFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentDateServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.CurrentDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageRedirectServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.PageRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadConfig</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.ServletConfig</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>admin@pitt.edu</param-value>
        </init-param>
        <init-param>
            <param-name>mainEmail</param-name>
            <param-value>user@pitt.edu</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ContextConfig</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.basics.ContextConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dog</servlet-name>
        <servlet-class>edu.pitt.infsci2560.samples.servlets.Dog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloJsonServlet</servlet-name>
        <url-pattern>/HelloJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/Simple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageHitCounterServlet</servlet-name>
        <url-pattern>/PageHitCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/HelloForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayHeaderServlet</servlet-name>
        <url-pattern>/DisplayHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshServlet</servlet-name>
        <url-pattern>/Refresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowErrorServlet</servlet-name>
        <url-pattern>/ShowError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogFilterServlet</servlet-name>
        <url-pattern>/LogFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentDateServlet</servlet-name>
        <url-pattern>/CurrentDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageRedirectServlet</servlet-name>
        <url-pattern>/PageRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/samples/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadConfig</servlet-name>
        <url-pattern>/loadConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextConfig</servlet-name>
        <url-pattern>/ContextConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dog</servlet-name>
        <url-pattern>/Dog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>mainEmail</param-name>
        <param-value>brian@pitt.edu</param-value>
￼￼￼</context-param>
    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>john@pitt.edu</param-value>
attributes and listeners
￼￼￼</context-param>
</web-app>
